# Copia a .env y ajusta para local. NUNCA subas un .env real.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_locally
POSTGRES_DB=latiendahn
POSTGRES_PORT=5432

ASPNETCORE_ENVIRONMENT=Development
API_HTTP_PORT=8080